{% extends 'basepost.html' %}

{% block title %}
<title>Authors</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="panel panel-default user_panel">
            <div class="panel-heading">
                <h2 class="panel-title">FlaskBlog authors</h2>
            </div>
            <div class="panel-body">
                <div class="table-container">
                    <table class="table-users table" border="0">
                        <tbody>
                            {% for author in pagination.items %}
                            <tr>
                                <td width="10">
                                    <img class="rounded-circle" width="50"
                                        src="{{ url_for('static', filename='img/profileimages/' + author.picture) }}" />
                                </td>
                                <td>
                                    <a href="{{ url_for('users.get_user_profile', username=author.username) }}">{{ author.username }}</a><br><i
                                        class="fa fa-envelope"></i>
                                </td>
                                <td>
                                    Posts<br><small class="text-muted">{{ author.posts|length }}</small>
                                </td>
                                <td>
                                    Comments<br><small class="text-muted">{{ author.comments|length }}</small>
                                </td>
                                <td align="center">
                                    Date of registration: {{ author.join_date.strftime('%Y-%m-%d') }}<br><small
                                        class="text-muted"></small>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nav>
        <ul class="pagination">
            {% if pagination.has_prev %}<li class="page-item"><a class="page-link"
                    href="{{ url_for('users.show_authors', page=pagination.prev_num) }}">Previous</a></li>{% endif %}
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('users.show_authors', page=page) }}">{{ page }}</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="">{{ page }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
            <li class="page-item"><a class="page-link"
                                     href="{{ url_for('users.show_authors', page=pagination.next_num) }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}