{% extends 'basepost.html' %}

{% block title %}
<title>{{ user.username }} profile</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{ cat }}" role="alert">
        <h6><b>{{ msg }}</b></h6>
    </div>
    {% endfor %}
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ url_for('static', filename='images/profileimages/' + user.picture) }}"
                                alt="{{ user.username }}" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ user.username }}</h4>
                                <div class="d-flex justify-content-center mb-2">
                                    {% if current_user.is_authenticated and current_user.id == user.id %}
                                    <div class="text-end">
                                        <a class="btn btn-primary active"
                                            href="{{ url_for('update_user_profile', username=user.username) }}">Update
                                            profile</a>
                                        <a class="btn btn-dark" href="{{ url_for('logout') }}">Logout</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if (user.website or user.github or user.twitter) %}
                        <hr class="my-4">
                        <ul class="list-group list-group-flush">
                            {% if user.website %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-globe me-2 icon-inline">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="2" y1="12" x2="22" y2="12"></line>
                                        <path
                                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                        </path>
                                    </svg>Website</h6>
                                <a class="text-secondary" href="{{ user.website }}" target="_blank">Link</a>
                            </li>
                            {% endif %}
                            {% if user.github %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github me-2 icon-inline">
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg>Github</h6>
                                <a class="text-secondary" href="{{ user.github }}" target="_blank">Link</a>
                            </li>
                            {% endif %}
                            {% if user.twitter %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-twitter me-2 icon-inline text-info">
                                        <path
                                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                        </path>
                                    </svg>Twitter</h6>
                                <a class="text-secondary" href="{{ user.twitter }}" target="_blank">Link</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        {% if user.fullname %}
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p class="text-muted mb-0">{{ user.fullname }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if user.job_title %}
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Job title</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p class="text-muted mb-0">{{ user.job_title }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if user.company %}
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Company</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p class="text-muted mb-0">{{ user.company }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if user.location %}
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Location</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p class="text-muted mb-0">{{ user.location }}</p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Status</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p class="text-muted mb-0">{{ user.status.value }}</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date of registration</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p class="text-muted mb-0">{{ user.join_date.strftime('%Y-%m-%d') }}</p>
                            </div>
                        </div>
                        {% if user.status.value in ['Admin', 'Author'] %}
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Posts</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <p class="text-muted mb-0">{{ user.posts|length }}</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}