<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% block title %}
    {% endblock %}
</head>

<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h3 class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">FlaskBlog</h3>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2 text-white" aria-current="page"
                            href="{{ url_for('main.show_main_page')}}">Main</a>
                    </li>
                    <li><a class="nav-link px-2 text-white"
                            href="{{ url_for('posts.show_posts', post_group='articles') }}">Articles</a>
                    <li><a class="nav-link px-2 text-white"
                            href="{{ url_for('posts.show_posts', post_group='news') }}">News</a></li>
                    <li><a class="nav-link px-2 text-white" href="{{ url_for('users.show_authors') }}">Authors</a></li>
                    {% if current_user.is_authenticated %}
                    {% if current_user.status in ('admin', 'author') %}
                    <li><a class="nav-link px-2 text-white" href="{{ url_for('posts.create_post')}}">Create a post</a>
                    </li>
                    {% endif %}
                    {% if current_user.status == 'admin' %}
                    <li><a class="nav-link px-2 text-white" href="/admin">Admin Dashboard</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
                {% block navbar %}
                {% endblock %}
            </div>
        </div>
    </header>

    {% block category %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{{ url_for('main.show_main_page')}}"
                        class="nav-link px-2 text-muted">Main</a>
                </li>
                <li class="nav-item"><a href="{{ url_for('posts.show_posts', post_group='articles') }}"
                        class="nav-link px-2 text-muted">Articles</a></li>
                <li class="nav-item"><a href="{{ url_for('posts.show_posts', post_group='news') }}"
                        class="nav-link px-2 text-muted">News</a></li>
                <li class="nav-item"><a href="{{ url_for('users.show_authors') }}"
                        class="nav-link px-2 text-muted">Authors</a></li>
            </ul>
            <p class="text-center text-muted">©2023 stcdbe</p>
        </footer>
    </div>
</body>

</html>
