{% extends 'baseauth.html' %}

{% block title %}
<title>Reset password</title>
{% endblock %}

{% block formfields %}
<h2 class="text-uppercase text-center mb-5">Create new password</h2>

<form method="post" action="{{ url_for('auth.reset_password', token=token) }}">
  {{ form.hidden_tag() }}

  {% for cat, msg in get_flashed_messages(True) %}
  <div class="alert alert-{{ cat }}" role="alert">
    <h6><b>{{ msg }}</b></h6>
  </div>
  {% endfor %}
  {% for field, errors in form.errors.items() %}
  <div class="alert alert-danger" role="alert">
    <h6><b>{{ ', '.join(errors) }}</b></h6>
  </div>
  {% endfor %}

  <div class="form-outline mb-4">
    {{ form.password(class="form-control form-control-lg") }}
    <label class="form-label">{{ form.password.label }}</label>
  </div>

  <div class="form-outline mb-4">
    {{ form.repeat_password(class="form-control form-control-lg") }}
    <label class="form-label">{{ form.repeat_password.label }}</label>
  </div>

  <div class="d-flex justify-content-center">
    {{ form.submit(class="btn btn-dark btn-lg ")}}
  </div>

</form>
{% endblock %}