{% extends 'baseauth.html' %}

{% block title %}
<title>Sign in</title>
{% endblock %}

{% block formfields %}
<h2 class="text-uppercase text-center mb-5">Sign in</h2>
<form method="post" action="{{ url_for('signin') }}">
  {{ form.hidden_tag() }}

  {% for cat, msg in get_flashed_messages(True) %}
  <div class="alert alert-{{ cat }}" role="alert">
    <h6><b>{{ msg }}</b></h6>
  </div>
  {% endfor %}
  {% for field, errors in form.errors.items() %}
  <div class="alert alert-danger" role="alert">
    <h6><b>{{ ', '.join(errors) }}</b></h6>
  </div>
  {% endfor %}

  <div class="form-outline mb-4">
    {{ form.username_or_email(class="form-control form-control-lg") }}
    <label class="form-label">{{ form.username_or_email.label }}</label>
  </div>

  <div class="form-outline mb-4">
    {{ form.password(class="form-control form-control-lg") }}
    <label class="form-label">{{ form.password.label }}</label>
    <p align="right"><a href="{{ url_for('forgot_password') }}" class="fw-bold text-body"><u>Forgot password?</u></a>
    </p>
  </div>

  <div class="form-check d-flex justify-content-center mb-5">
    {{ form.remember(class="form-check-input me-2", type="checkbox") }}
    <label class="form-check-label">
      <b>{{ form.remember.label }}</b>
    </label>
  </div>

  <div class="d-flex justify-content-center mb-4">
    {{ form.recaptcha() }}
  </div>

  <div class="d-flex justify-content-center">
    {{ form.submit(class="btn btn-dark btn-lg ")}}
  </div>

  <p class="text-center text-muted mt-5 mb-0">Have no account yet? <a href="{{ url_for('registration') }}"
      class="fw-bold text-body"><u>Sign up here</u></a></p>

</form>
{% endblock %}