{% extends 'posts/editnewspost.html' %}

{% block form %}
<form method="post" action="{{ url_for('editpost', post='article', id=post.id) }}" enctype="multipart/form-data">
{% endblock %}

{% block formfields %}
<div class="form-group">
    <label>Current {{ form.intro.label }}</label>
    <textarea id="intro" name="intro" rows="5" class="form-control">{{ post.intro }}</textarea>
</div>

<div class="form-group">
    <label>Current image</label>
    <p><img class="img-fluid rounded" src="{{ url_for('static', filename='images/postimages/' + post.picture) }}">
    </p>
    <label>New image</label>
    {{ form.picture(class="form-control") }}
</div>

<div class="form-group">
    <label>{{ form.text.label }}</label>
    <textarea id="text" name="text" rows="10" placeholder="5000 characters max" class="form-control"
        maxlength="5000">{{ post.text }}</textarea>
</div>
{% endblock %}