{% extends 'baseposts.html' %}

{% block title %}
<title>{% if ctg %}{{ ctg }} News{% else %}All News{% endif %}</title>
{% endblock %}

{% block category %}
<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav" aria-label="Secondary navigation">
    <li><a href="{{ url_for('showposts', posts='news') }}" class="nav-link text-black">All</a></li>
    {% for category in ['Development', 'Administration', 'Design', 'Management', 'Marketing', 'Science'] %}
    <li><a href="{{ url_for('showposts', posts='news', category=category) }}" class="nav-link text-black">{{ category
        }}</a></li>
    {% endfor %}
    {% if (current_user.is_authenticated and current_user.status == 'Author') or (current_user.is_authenticated and
    current_user.status == 'Admin') %}
    <li><a href="{{ url_for('createpost', post='newspost')}}" class="nav-link text-black">Write a newspost</a></li>
    {% endif %}
  </nav>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
      {% if ctg %}<h1>{{ ctg }} News</h1>{% else %}<h1>All News</h1>{% endif %}
      <div class="feed p-2">
        {% for post in pagination.items %}
        <div class="bg-white border mt-2">
          <div>
            <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
              <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle"
                  src="{{ url_for('static', filename='images/profileimages/' + post.user.picture) }}" width="50">
                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold"><a
                      href="{{ url_for('getprofile', username=post.username) }}">{{ post.username }}</a></span>
                  <span class="text-black-50 time">{{ post.date }}</span>
                </div>
              </div>
              <div class="feed-icon px-2">
                <i class="fa fa-ellipsis-v text-black-50"></i>
                <a class="badge bg-secondary text-decoration-none link-light"
                  href="{{ url_for('showposts', posts='news', category=post.category) }}">{{ post.category }}</a>
              </div>

            </div>
            <div class="p-2 px-3" style="white-space: pre-wrap; word-wrap: break-word;">
              <h4>{{ post.title }}</h4>
            </div>
          </div>
          <div class="feed-image p-2 px-3"><img class="img-fluid rounded"
              src="{{ url_for('static', filename='images/postimages/' + post.picture) }}" alt="post.username">
          </div>
          <div class="p-2 px-3"><span style="white-space: pre-wrap; word-wrap: break-word;">{{ post.text }}</span></div>
          <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i
              class="fa fa-comments-o"></i><i class="fa fa-share"></i>
            {% if current_user.username == post.username %}
            <form action="{{ url_for('editpost', post='newspost', id=post.id) }}">
              <button type="submit" class="btn btn-sm btn-secondary">Edit</button>
            </form>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <nav>
    <ul class="pagination">
      {% if pagination.has_prev %}<li class="page-item"><a class="page-link"
          href="{{ url_for('showposts', posts='news', category=ctg, page=pagination.prev_num) }}">Previous</a></li>{%
      endif %}
      {% for page in pagination.iter_pages() %}
      {% if page %}
      {% if page != pagination.page %}
      <li class="page-item"><a class="page-link"
          href="{{ url_for('showposts', posts='news', category=ctg, page=page) }}">{{ page }}</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="">{{ page }}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if pagination.has_next %}<li class="page-item"><a class="page-link"
          href="{{ url_for('showposts', posts='news',category=ctg, page=pagination.next_num) }}">Next</a></li>{% endif
      %}
    </ul>
  </nav>
</div>
{% endblock %}