{% extends 'basepost.html' %}

{% block title %}
<title>{% if ctg %}{{ ctg }} Articles{% else %}All Articles{% endif %}</title>
{% endblock %}

{% block category %}
<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav" aria-label="Secondary navigation">
    <li><a href="{{ url_for('posts.show_posts', post_group='articles') }}" class="nav-link text-black">All</a></li>
    {% for category in ['Development', 'Administration', 'Design', 'Management', 'Marketing', 'Science'] %}
    <li><a href="{{ url_for('posts.show_posts', post_group='articles', category=category) }}" class="nav-link text-black">{{
        category }}</a></li>
    {% endfor %}
  </nav>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>{% if ctg %}{{ ctg }} Articles{% else %}All Articles{% endif %}</h2>
  <div class="album py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for article in pagination.items %}
        <div class="col">
          <div class="card shadow-sm">
            <a href="{{ url_for('posts.show_post_detail', post_slug=article.slug) }}">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="{{ url_for('static', filename='img/postimages/' + article.picture) }}">
            </a>
            <div class="card-body">
              <h4><a href="{{ url_for('posts.show_post_detail', post_slug=article.slug) }}">{{ article.title }}</a></h4>
              <p><a class="badge bg-secondary text-decoration-none link-light"
                  href="{{ url_for('posts.show_posts', post_group='articles', category=article.category.value) }}">{{
                  article.category.value }}</a>
              </p>
              {% if article.intro %}
              <p class="card-text">{{ article.intro }}</p>
              {% endif %}
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ url_for('users.get_user_profile', username=article.user.username) }}">{{ article.user.username
                    }}</a>
                </div>
                <small class="text-body-secondary">{{ article.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container">
    <nav>
      <ul class="pagination">
        {% if pagination.has_prev %}<li class="page-item"><a class="page-link"
            href="{{ url_for('posts.show_posts', post_group='articles', category=ctg, page=pagination.prev_num) }}">Previous</a>
        </li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li class="page-item"><a class="page-link"
                href="{{ url_for('posts.show_posts', post_group='articles', category=ctg, page=page) }}">{{ page }}</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="">{{ page }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if pagination.has_next %}<li class="page-item"><a class="page-link"
            href="{{ url_for('posts.show_posts', post_group='articles', category=ctg, page=pagination.next_num) }}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}