{% extends 'post/createnewspost.html' %}

{% block title %}
<title>Create article</title>
{% endblock %}

{% block form %}
<form method="post" action="{{ url_for('create_post', posts='articles') }}" enctype="multipart/form-data">
{% endblock %}

{% block formfields %}
<div class="form-group">
    <label>{{ form.intro.label }}<small> (This field use in search.)</small></label>
    {{ form.intro(class="form-control", placeholder="300 characters max", rows="5")}}
</div>

<div class="form-group">
    <label>{{ form.picture.label }} <span class="require">*</span></label>
    {{ form.picture(class="form-control")}}
</div>

<div class="form-group">
    <label>{{ form.text.label }} <span class="require">*</span></label>
    {{ form.text(class="form-control", placeholder="5000 characters max", rows="10") }}
</div>
{% endblock %}