{% extends 'basepost.html' %}

{% block title %}
<title>{{ post.title }}</title>
{% endblock %}

{% block category %}
<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav" aria-label="Secondary navigation">
        <li><a href="{{ url_for('posts.show_posts', post_group='articles') }}" class="nav-link text-black">All</a></li>
        {% for ctg in categories %}
        <li><a href="{{ url_for('posts.show_posts', post_group='articles', category=category) }}"
               class="nav-link text-black">{{
            ctg|capitalize }}</a></li>
        {% endfor %}
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <div style="white-space: pre-wrap; word-wrap: break-word;">
                        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    </div>
                    <div class="text-muted fst-italic mb-2">Posted on {{ post.created_at.strftime('%Y-%m-%d
                        %H:%M:%S') }}
                    </div>
                    <a class="badge bg-secondary text-decoration-none link-light"
                       href="{{ url_for('posts.show_posts', post_group='articles', category=post.category.value) }}">{{
                        post.category|capitalize }}</a>
                </header>
                {% if post.intro %}
                <div style="white-space: pre-wrap; word-wrap: break-word;">
                    <p>{{ post.intro }}</p>
                </div>
                {% endif %}
                <figure class="mb-4"><img class="img-fluid rounded"
                                          src="{{ post.picture }}"
                                          alt="">
                </figure>
                <section class="mb-5">
                    <div style="white-space: pre-wrap; word-wrap: break-word;">{{ post.text }}</div>
                    {% if current_user.id == post.creator_id %}
                    <form>
                        <button type="submit" formaction="{{ url_for('posts.update_post', post_slug=post.slug) }}"
                                class="btn btn-sm btn-primary active">Update
                        </button>
                        <button type="submit" formaction="{{ url_for('posts.delete_post', post_slug=post.slug) }}"
                                formmethod="post" class="btn btn-sm btn-danger">Delete
                        </button>
                    </form>
                    {% endif %}
                </section>
            </article>
            {% if post.group.value == 'articles' %}
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        {% for field, errors in form.errors.items() %}
                        <div class="alert alert-primary" role="alert">
                            <h6><b>{{ ', '.join(errors) }}</b></h6>
                        </div>
                        {% endfor %}
                        {% if current_user.is_authenticated %}
                        <form class="mb-4" method="post"
                              action="{{ url_for('posts.show_post_detail', post_slug=post.slug) }}"
                              enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <textarea id="text" name="text" rows="3" placeholder="250 characters max"
                                      class="form-control" maxlength="250"></textarea>
                            <div class="container mt-3">
                                {{ form.submit(class="btn btn-sm btn-primary active", value="Leave a comment") }}
                            </div>
                        </form>
                        {% else %}
                        <div class="container mt-3">
                            <h4>Sign in to leave a comment.</h4>
                            <div class="container mt-3">
                                <form action="{{ url_for('auth.login') }}">
                                    <button type="submit" class="btn btn-primary active">Login</button>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                        {% if post.comments %}
                        {% for comment in post.comments %}
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0"><img class="rounded-circle"
                                                            src="{{ comment.creator.picture }}"
                                                            width="50" alt="..."></div>
                            <div class="ms-3">
                                <div class="fw-bold">
                                    <a href="{{ url_for('users.get_user_profile', username=comment.creator.username) }}">{{
                                        comment.creator.username }}</a>
                                </div>
                                <div class="text-muted">{{ comment.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                                <div style="white-space: pre-wrap; overflow-wrap: anywhere;">{{ comment.text }}</div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Author</div>
                <div class="card-body">
                    <div class="d-flex mt-4">
                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                        src="{{ post.creator.picture }}"
                                                        width="50" alt="post.creator.picture"></div>
                        <div class="ms-3">
                            <b><a href="{{ url_for('users.get_user_profile', username=post.creator.username ) }}">{{
                                post.creator.username }}</a></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}