{% extends 'basepost.html' %}

{% block title %}
<title>Update {{ post.title }}</title>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Update post</h2>

            <form method="post" action="{{ url_for('posts.update_post', post_slug=post.slug) }}" enctype="multipart/form-data">

                {{ form.hidden_tag() }}
                {% for cat, msg in get_flashed_messages(True) %}
                <div class="alert alert-{{ cat }}" role="alert">
                  <h6><b>{{ msg }}</b></h6>
                </div>
                {% endfor %}
                {% for field, errors in form.errors.items() %}
                <div class="alert alert-primary" role="alert">
                    <h6><b>{{ ', '.join(errors) }}</b></h6>
                </div>
                {% endfor %}

                <div class="form-group">
                    <label>{{ form.title.label }}</label>
                    {{ form.title(class="form-control", placeholder="100 characters max", value=post.title) }}
                </div>

                <div class="form-group">
                  <label>{{ form.group.label }} <span class="require">*</span></label>
                  {{ form.group(class="form-control", disabled=True) }}
                </div>

                <div class="form-group">
                    <label>{{ form.category.label }}</label>
                    {{ form.category(class="form-control", selected=post.category) }}
                </div>

                <div class="form-group">
                    <label>Current {{ form.intro.label }}</label>
                    <textarea id="intro" name="intro" rows="5" class="form-control"
                        maxlength="300">{% if post.intro %}{{ post.intro }}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label>Current image</label>
                    <p><img class="img-fluid rounded"
                            src="{{ url_for('static', filename='img/postimages/' + post.picture) }}"></p>
                    <label>New image</label>
                    {{ form.picture(class="form-control") }}
                </div>

                <div class="form-group">
                    <label>{{ form.text.label }}</label>
                    {% if post.group == 'articles' %}
                    <textarea id="text" name="text" rows="10" placeholder="5000 characters max" class="form-control"
                        maxlength="5000">{{ post.text }}</textarea>
                    {% else %}
                    <textarea id="text" name="text" rows="10" placeholder="500 characters max" class="form-control"
                        maxlength="500">{{ post.text }}</textarea>
                    {% endif %}
                </div>

                <div class="form-group">
                    <p></p>
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary active", value="Save Changes") }}
                </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}