{% extends 'basepost.html' %}

{% block title %}
<title>Edit {{ post.title }}</title>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Edit post</h2>

            {% block form %}
            <form method="post" action="{{ url_for('update_post', posts='news' , post_id=post.id) }}"
                enctype="multipart/form-data">
                {% endblock %}

                {{ form.hidden_tag() }}

                {% for field, errors in form.errors.items() %}
                <div class="alert alert-primary" role="alert">
                    <h6><b>{{ ', '.join(errors) }}</b></h6>
                </div>
                {% endfor %}

                <div class="form-group">
                    <label>{{ form.title.label }}</label>
                    {{ form.title(class="form-control", placeholder="100 characters max", value=post.title)}}
                </div>

                <div class="form-group">
                    <label>{{ form.category.label }}</label>
                    {{ form.category(class="form-control", selected=post.category) }}
                </div>

                {% block formfields %}
                <div class="form-group">
                    <label>Current image</label>
                    <p><img class="img-fluid rounded"
                            src="{{ url_for('static', filename='images/postimages/' + post.picture) }}"></p>
                    <label>New image</label>
                    {{ form.picture(class="form-control") }}
                </div>

                <div class="form-group">
                    <label>{{ form.text.label }}</label>
                    <textarea id="text" name="text" rows="10" placeholder="500 characters max" class="form-control"
                        maxlength="500">{{ post.text }}</textarea>
                </div>
                {% endblock %}

                <div class="form-group">
                    <p></p>
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary active", value="Save Changes") }}
                </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}