<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <h2>Hello, {{ user.username }},</h2>
    <p>Somebody requested a new password for the FlaskBlog account associated with {{ user.email }}.</p>
    <p>No changes have been made to your account yet.</p>
    <p>You can reset your password by clicking the link below:
    <p>
    <h3>
        <b>
            <a href="{{ url }}">Reset password</a>
        </b>
    </h3>
    <p>If you don`t use this link, it will expire.</p>
    <p>Please do not reply to this email with your password. We will never ask for your password, and we strongly
        discourage
        you from sharing it with anyone.
    <p>
    <h3><strong>FlaskBlog</strong></h3>
</body>

</html>
